body {
  background: url("../../assets/images/fondo-mide.png") no-repeat center center;
}
.cont-login {
  //border:1px solid green;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  //color: #FFF !important;
  h1 {
    font-weight: 100;
    //border-bottom:1px solid #DDD;
    text-transform: uppercase;
    font-size: 24px;
    color: #e28c1a;
    margin-top: 0 !important;
  }

  mat-card {
    // background-color: #0C776F;
    border-radius: 5px;
  }

  mat-card-header {
    margin-top: 0;
  }
  img {
    width: 60%;
    display: inline-block;
    margin: 20px auto;
  }
  p {
    font-size: 12px;
  }
  .mat-form-field {
    width: 100%;
  }
  button {
    width: 100%;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 10px !important;
  }
  .matInput {
    //text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px !important;
  }
  mat-icon {
    font-size: 16px;
    color: #e28c1a;
  }
  input {
    //text-transform: uppercase;
    color: #666;
    //padding-left: 10px;
  }
  .inputEmail {
    /*&:before{
      content: '&#xE84E;';
      font-family: 'Material Icons';
      color: #666;
    }*/
    &:before {
      content: "hola";
      font-family: sans-serif;
    }
  }
  .mat-error {
    margin-bottom: 10px;
  }
  .mat-card-header-text {
    margin: 0;
  }
}

.item {
  //padding: 15px;
  //border-bottom: 1px solid #999;
  margin-right: 0 !important;
  strong {
    font-size: 30px;
  }
  &:first-child {
    margin-top: 35px;
  }
}
.item-buttons-start {
  margin-top: 15px;
}

.item[_ngcontent-c2]:first-child {
  margin-top: 15px;
}

.tot-card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 5px;
  margin-bottom: 15px;
  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
}

.nueva-clave {
  button {
    margin-top: 30px;
  }
}
.mat-button.mat-primary,
.mat-icon-button.mat-primary {
  color: #000;
}
.mat-raised-button.mat-primary[disabled],
.mat-raised-button.mat-accent[disabled],
.mat-raised-button.mat-warn[disabled],
.mat-raised-button[disabled][disabled],
.mat-fab.mat-primary[disabled],
.mat-fab.mat-accent[disabled],
.mat-fab.mat-warn[disabled],
.mat-fab[disabled][disabled],
.mat-mini-fab.mat-primary[disabled],
.mat-mini-fab.mat-accent[disabled],
.mat-mini-fab.mat-warn[disabled],
.mat-mini-fab[disabled][disabled] {
  background-color: rgba(0, 0, 0, 0.12);
}
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  background-color: #f7a700;
}
.mat-button.mat-primary[_ngcontent-c5],
.mat-icon-button.mat-primary[_ngcontent-c5] {
  color: #e28c1a;
}
