<div class="cont-sets">
  <div class="cont-grilla">
    <div class="grid-header" fxLayout.xs="column" fxLayoutWrap="wrap" fxLayoutAlign.xs="start"
      fxLayoutAlign="start stretch" fxLayoutGap="10px" fxLayoutGap.xs="0">
      <div fxFlex.xs="100%" fxFlex="68%">
        <h1 class="titulo-tot-admin" color="principal">Administración de permisos</h1>
      </div>
    </div>
    <div fxLayout.xs="column" fxLayoutWrap="wrap" fxLayoutAlign.xs="start" fxLayoutAlign="start stretch"
      fxLayoutGap="10px" fxLayoutGap.xs="0">
      <div class="flex-item" fxFlex.xs="100%" fxFlex="100%">
        <mat-card class="buscador-usuario">
          <mat-card-content>
            <mat-form-field>
              <input matInput type="text" placeholder="Buscar Usuarios" [(ngModel)]="search" name="search"
                placeholder="Buscar" (keyup)="searchFn(search)" />
              <mat-icon matPrefix class="icon-search">search</mat-icon>
            </mat-form-field>
          </mat-card-content>
        </mat-card>
        <table class="card">
          <thead>
            <tr>
              <th>Nombre completo</th>
              <th>Email</th>
              <th>Administrador</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users | paginate: { itemsPerPage: 5, currentPage: pagination, id: 'pagination' }">
              <td>{{ user.name }}</td>
              <td>{{ user.email }}</td>
              <td>
                <input type="checkbox" (change)="onChangePermisos($event, user)" [checked]="user.isAdmin == '1'"
                  [disabled]="user.idUser == this.userLogued.idUser" />
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td class="cont-paginator" colspan="7">
                <pagination-controls (pageChange)="setPagination($event)" id="pagination" autoHide="true"
                  previousLabel="Anterior" nextLabel="Próximo" screenReaderPaginationLabel="Paginación"
                  screenReaderPageLabel="pag"></pagination-controls>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <button class="btn-return" mat-button color="primary" [routerLink]="['/home']">
    <i class="material-icons">keyboard_backspace</i> Volver
  </button>
</div>