<div class="cont-login">
  <mat-card>
    <mat-card-header>
      <img src="assets/images/logo-v.svg"/>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="column" fxLayout.xs="column" fxLayout="center center" fxLayoutGap="15px" fxLayoutGap.xs="0">
        <div *ngIf="step === 1" fxFlex="100%">
          <form [formGroup]="forgotForm">
            <div class="alert-message info">¿Has olvidado tu clave? Ingresa tu correo electrónico para recuperarla.</div>
            <mat-form-field>
              <input matInput type="email" formControlName="email" placeholder="Correo electrónico">
              <mat-error *ngIf="forgotForm.get('email').touched && forgotForm.get('email').hasError('email')">
                Ingresa un correo electrónico válido
              </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" [disabled]="forgotForm.invalid || loading" (click)="sendMail()">Recuperar clave</button>
          </form>
          <button class="btn-return" mat-button color="primary" [routerLink]="['login']"><i
            class="material-icons">keyboard_backspace</i> Volver
          </button>
        </div>
        <div *ngIf="step === 2" fxFlex="100%">
          <form [formGroup]="passwordForm">
            <div class="alert-message info">
              <p>Ingresa el código de verificación enviado a tu correo electrónico ({{forgotForm.value.email}})</p>
            </div>
            <mat-form-field>
              <input matInput formControlName="confirmCode" placeholder="Código de verificación">
              <mat-error *ngIf="passwordForm.get('confirmCode').touched && passwordForm.get('confirmCode').hasError('required')">
                Este campo es obligatorio
              </mat-error>
              <mat-error
                *ngIf="passwordForm.get('confirmCode').touched && passwordForm.get('confirmCode').hasError('minlength')">
                Ingresa un código de 6 caracteres mínimo
              </mat-error>
              <mat-error
                *ngIf="passwordForm.get('confirmCode').touched && passwordForm.get('confirmCode').hasError('maxlength')">
                Ingresa un código de 6 caracteres máximo
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="password" formControlName="password" placeholder="Nueva clave">
              <mat-error *ngIf="passwordForm.get('password').touched && passwordForm.get('password').hasError('required')">
                Este campo es obligatorio
              </mat-error>
              <mat-error *ngIf="passwordForm.get('password').touched && passwordForm.get('password').hasError('minlength')">
                Ingresa una clave de 6 caracteres mínimo
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="password" formControlName="passwordConfirm" placeholder="Confirmar nueva clave">
              <mat-error
                *ngIf="passwordForm.get('passwordConfirm').touched && passwordForm.get('passwordConfirm').hasError('required')">
                Este campo es obligatorio
              </mat-error>
              <mat-error *ngIf="passwordForm.get('passwordConfirm').value !== passwordForm.get('password').value">
                Las claves ingresadas no coinciden
              </mat-error>
            </mat-form-field>
            <button mat-raised-button [disabled]="forgotForm.invalid || loading" (click)="changePassword()">
              Cambiar clave
            </button>
          </form>
        </div>
        <div *ngIf="step === 3" fxFlex="100%">
          <p>¡Tu clave ha sido cambiada! Ya puedes volver a iniciar sesión.</p>
          <button mat-raised-button color="primary" (click)="finish()">Iniciar sesión</button>
        </div>

      </div>
    </mat-card-content>
  </mat-card>
</div>
